
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    background: rgb(59, 60, 61);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  h2 {
    font-size: 5rem;
    color: #E10600;
    letter-spacing: 3px;
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    align-items: top;
  }
  
  .subtitle {
    font-size: 1.5rem;
    color: #AAA;
    margin-bottom: 40px;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
    animation-delay: 0.5s;
  }
  
  
  .main-nav {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: 2px solid #E10600;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
  }
  
  .nav-link:hover {
    background-color: #E10600;
    color: #000;
  }
  
  
  .button-container {
    display: flex;
    gap: 20px;
    margin-top: 40px;
  }
  
  .nadpis {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  
  z-index: 1;
  }
  
  
  .subtitle-link {
    color: #AAA;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .subtitle-link:hover {
    color: #fff;
  }
  
  
  .logo-left,
  .logo-right {
  width: 150px;
  height: auto;
  animation: fadeIn 1s forwards;
  }
  
  
  .nadpis img {
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  
  
  .button {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #E10600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #c10500;
  }
  
  
  .hidden {
    display: none;
  }
  
  .subtitle-link {
    color: #AAA;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s;
  }
  
  .subtitle-link:hover {
    color: #fff;
  }
  
  
  
h3{
  margin: top 0;
  color: #c70000;
}
table{
  width: 100%;
  border-collapse: collapse;
}
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  
  
  